<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.all.TestMapper">

  <select id="getAllDataList" resultType="com.example.all.portfolio">
    SELECT * FROM portfolio;
  </select>
  
  <select id="tbMemberList" resultType="com.example.all.Tb_Member">
    SELECT * FROM tb_member;
  </select>

</mapper>