<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.all.mapper.MyPageMapper"> 

    <select id="mypageList" resultType="com.example.all.Tb_Member">
      select * from tb_member where m_id = "skalswn"
    </select>   
    
</mapper>